name: Discourse Theme

on:
  workflow_call:
    inputs:
      repository:
        type: string
        required: false
      core_ref:
        type: string
        required: false
    secrets:
      ssh_private_key:
        description: "Optional SSH private key to be used when cloning additional plugin repos"
        required: false

concurrency:
  group: discourse-theme-${{ format('{0}-{1}', github.head_ref || github.run_number, github.job) }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Yarn install
        run: yarn install

      - name: ESLint
        if: ${{ !cancelled() }}
        run: |
          if test -f .prettierrc.cjs; then
            yarn eslint --ext .js,.gjs,.js.es6 --no-error-on-unmatched-pattern {test,javascripts}
          else
            yarn eslint --ext .js,.js.es6 --no-error-on-unmatched-pattern {test,javascripts}
          fi

      - name: Prettier
        if: ${{ !cancelled() }}
        shell: bash
        run: |
          yarn prettier -v
          files=$(find javascripts desktop mobile common scss -type f \( -name "*.scss" -or -name "*.js" -or -name "*.gjs" -or -name "*.es6" \) 2> /dev/null) || true
          if [ -n "$files" ]; then
            yarn prettier --list-different $files
          fi
          if [ 0 -lt $(find test -type f \( -name "*.js" -or -name "*.gjs" -or -name "*.es6" \) 2> /dev/null | wc -l) ]; then
            yarn prettier --list-different "test/**/*.{js,gjs,es6}"
          fi

      - name: Ember template lint
        if: ${{ !cancelled() }}
        run: yarn ember-template-lint --no-error-on-unmatched-pattern javascripts

  check_for_tests:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.check_tests.outputs.matrix }}
      has_tests: ${{ steps.check_tests.outputs.has_tests }}

    steps:
      - name: Install component
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository }}
          path: tmp/component
          fetch-depth: 1

      - name: Check For Test Types
        id: check_tests
        shell: ruby {0}
        working-directory: tmp/component
        run: |
          require 'json'

          matrix = []

          matrix << 'frontend' if Dir.glob("test/**/*.{js,es6,gjs}").any?
          matrix << 'system' if Dir.glob("spec/system/**/*.rb").any?

          puts "Detected test types: #{matrix.inspect}"

          File.write(ENV["GITHUB_OUTPUT"], "matrix=#{matrix.to_json}\n", mode: 'a+')

          if matrix.any?
            File.write(ENV["GITHUB_OUTPUT"], "has_tests=true\n", mode: 'a+')
          end

  test:
    name: ${{ matrix.build_type || '' }}_tests${{ matrix.updated_ember && ' (optional Ember 5)' || '' }}
    needs: check_for_tests
    if: ${{ needs.check_for_tests.outputs.has_tests }}
    runs-on: ubuntu-latest
    container: discourse/discourse_test:slim-browsers
    timeout-minutes: 15

    strategy:
      fail-fast: false

      matrix:
        build_type: ${{ fromJSON(needs.check_for_tests.outputs.matrix) }}
        updated_ember: ${{ inputs.core_ref && fromJSON('[false]') || fromJSON('[false, true]') }}

    env:
      DISCOURSE_HOSTNAME: www.example.com
      RUBY_GLOBAL_METHOD_CACHE_SIZE: 131072
      PGUSER: discourse
      PGPASSWORD: discourse
      RAILS_ENV: test
      DISCOURSE_DEV_DB: discourse_test
      EMBER_VERSION: ${{ (matrix.updated_ember && '5') || '3' }}

    steps:
      - name: Set working directory owner
        run: chown root:root .

      - uses: actions/checkout@v4
        with:
          repository: discourse/discourse
          fetch-depth: 1
          ref: ${{ inputs.core_ref }}

      - name: Install component
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository }}
          path: tmp/component
          fetch-depth: 1

      - name: Setup Git
        run: |
          git config --global user.email "ci@ci.invalid"
          git config --global user.name "Discourse CI"

      - name: Clone additional plugins
        uses: discourse/.github/actions/clone-additional-plugins@v1
        with:
          ssh_private_key: ${{ secrets.ssh_private_key }}
          about_json_path: tmp/component/about.json

      - name: Start redis
        run: |
          redis-server /etc/redis/redis.conf &

      - name: Start Postgres
        run: |
          chown -R postgres /var/run/postgresql
          sudo -E -u postgres script/start_test_db.rb
          sudo -u postgres psql -c "CREATE ROLE $PGUSER LOGIN SUPERUSER PASSWORD '$PGPASSWORD';"

      - name: Bundler cache
        uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-

      - name: Setup gems
        run: |
          gem install bundler --conservative -v $(awk '/BUNDLED WITH/ { getline; gsub(/ /,""); print $0 }' Gemfile.lock)
          bundle config --local path vendor/bundle
          bundle config --local deployment true
          bundle config --local without development
          bundle install --jobs 4
          bundle clean

      - name: Lint English locale
        run: bundle exec ruby script/i18n_lint.rb "tmp/component/locales/en.yml"

      - name: Get yarn cache directory
        id: yarn-cache-dir
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - name: Yarn cache
        uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Upgrade Ember
        if: matrix.updated_ember == true
        run: script/switch_ember_version 5

      - name: Yarn install
        run: yarn install

      - name: Fetch app state cache
        uses: actions/cache@v3
        id: app-cache
        with:
          path: tmp/app-cache
          key: >-
            ${{ hashFiles('.github/workflows/tests.yml') }}-
            ${{ hashFiles('db/**/*', 'plugins/**/db/**/*') }}-
            ${{ env.RAILS_ENV }}

      - name: Restore database from cache
        if: steps.app-cache.outputs.cache-hit == 'true'
        run: |
          if test -f script/silence_successful_output; then
            script/silence_successful_output psql -f tmp/app-cache/cache.sql postgres
          else
            psql -f tmp/app-cache/cache.sql postgres
          fi

      - name: Restore uploads from cache
        if: steps.app-cache.outputs.cache-hit == 'true'
        run: rm -rf public/uploads && cp -r tmp/app-cache/uploads public/uploads

      - name: Create and migrate database
        if: steps.app-cache.outputs.cache-hit != 'true'
        run: |
          bin/rake db:create
          if test -f script/silence_successful_output; then
            script/silence_successful_output bin/rake db:migrate
          else
            bin/rake db:migrate
          fi

      - name: Dump database for cache
        if: steps.app-cache.outputs.cache-hit != 'true'
        run: mkdir -p tmp/app-cache && pg_dumpall > tmp/app-cache/cache.sql

      - name: Dump uploads for cache
        if: steps.app-cache.outputs.cache-hit != 'true'
        run: rm -rf tmp/app-cache/uploads && cp -r public/uploads tmp/app-cache/uploads

      - name: Ember Build for System Tests
        if: matrix.build_type == 'system'
        run: bin/ember-cli --build

      - name: Theme System Tests
        id: system_spec
        continue-on-error: ${{matrix.updated_ember}}
        if: matrix.build_type == 'system'
        run: bin/rspec --format documentation tmp/component/spec/system
        timeout-minutes: 10

      - name: Upload failed system test screenshots
        uses: actions/upload-artifact@v3
        if: matrix.build_type == 'system' && failure()
        with:
          name: failed-system-test-screenshots
          path: tmp/capybara/*.png

      - name: Create theme archive
        if: matrix.build_type == 'frontend'
        run: |
          cd tmp/component
          git archive --format=tar.gz HEAD > ../../theme.tar.gz

      - name: Component QUnit
        id: qunit
        continue-on-error: ${{matrix.updated_ember}}
        if: matrix.build_type == 'frontend'
        run: |
          THEME_NAME=$(ruby -e 'require "json"; puts JSON.parse(File.read("tmp/component/about.json"))["name"]')
          THEME_ARCHIVE=theme.tar.gz bundle exec rake themes:install:archive
          UNICORN_TIMEOUT=120 bundle exec rake "themes:qunit[name,$THEME_NAME]"
        timeout-minutes: 10

      - uses: LouisBrunner/checks-action@v1.6.1
        name: Report optional check failure
        if: |
          matrix.updated_ember == true &&
          (steps.qunit.outcome == 'failure' || steps.system_spec.outcome == 'failure')
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: âŒ optional ${{matrix.build_type}}_tests (ember 5) job failed
          conclusion: neutral
          output: >-
            {
            "summary": "
            The `${{matrix.build_type}}_tests` job failed under Ember 5.
            This is currently marked as a 'neutral' test run, but will soon become required.
            See https://meta.discourse.org/t/287211 for upgrade information.
            Check the original GitHub run for logs: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
            "
            }
